@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@300&display=swap');
:root{
    --succes-color: #2691d9;
    --erro-color: #e74c3c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
	background: linear-gradient(330deg, #c40505, #e6b217);

    /* overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.forgotpassword{
    margin-top: 50px;
}
.forgotpassword .seoul__logo {
    text-align: center;
    scale: .5;
}
.forgotpassword .container{
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 20px 40px;
}
.forgotpassword .container h1{
    text-align: center;
    font-weight: 500;
    /* font-family: 'Open Sans'; */
}
.forgotpassword .form-control{
    width: 100%;
    position: relative;
    margin-top: 40px;       /* nếu không có dòng này độ dày các span ko bằng nhau*/
    padding: 0;
    border: 0;
}
.forgotpassword .form-control input{
    width: 100%;
    font-size: 16px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid #adadad;
}
.forgotpassword .form-control span{
    position: absolute;
    border-bottom:3px solid var(--succes-color);
    width: 0%;
    top: 38px;
    left: 0;
    transition: 0.3s;
}
.forgotpassword .form-control input:focus ~ span{
    width: 100%;
}
.forgotpassword .form-control{
    color: var(--erro-color);
}
.button-submit{
    width: 100%;
    height: 50px;
    background: var(--succes-color);
    border: none;
    outline: none;
    font-family: 'Open Sans';
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: bold; /*font chữ in đậm*/
    margin: 25px 0;
    cursor: pointer; /*đổi biểu tượng trỏ chuột khi lia tới */
    transition: 0.3s;
}
.button-submit:hover{
    background-color: #08609a;
    /* text-decoration: underline; */
}
.signup-link{
    text-align: center;
    font-weight: bold;
    font-family: 'Quicksand';
}
.signup-link a{
    color: var(--succes-color); 
    text-decoration: none; /*set mặc định để  khi hover*/ 
    cursor: pointer;
    padding: 8px;   
}
.signup-link a:hover{
    text-decoration: underline;/*khi hover tới thì inderline*/
}
.form-control small{
    font-family: "Quicksand"; 
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.modal--forgot{               /* lớp phủ mờ */
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
}
.modal_inner{
    width: 500px;
    height: 360px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    animation: modalShow 0.5s linear;
}
.modal_header{
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0; 
    border-bottom: none ;
    background-color: #28a745;
}
.modal_header .icon_success {
    font-size: 95px;
    color: white;
}
.modal_body h4{
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
    color: #000000;
    font-family: 'Open Sans';
    font-weight: bold;
}
.modal_body p{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    color: rgb(58, 56, 56);
    font-family: 'Quicksand';
    font-weight: bold;
}
.modal_footer {
    width: auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .btn_success
{
    color: #fff;   
    background: #e6b217;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer; 
    transition: 0.3s;
}
.btn_success a{
    text-decoration: none;
    color: #fff;
    font-family: "Quicksand";
    font-size: 20px;
    padding: 0;
    
    font-weight: bold;
    
}
.btn_success:hover{
    background-color: #11be45;
    text-decoration: underline;
}
.modal--forgot.active
{
    display: block;
}
@keyframes modalShow {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }   
}